{# Copyright Christopher Adams, 2011 #}
{# All rights reserved. #}

{% extends "wyclif/base.html" %}

{% load url from future %}

{% block navbar %}
	<h2><a href="{% url 'all-works' %}">{{ title.author }}</a></h2>
	<h3><a href="{% url 'show-chapters' title=title.slug %}">{{ title }}</a></h3>

	{% for el_chapter in all_chapters %}
		<div class="{% if el_chapter == focus_chapter %}nav-focused{% else %}nav-unfocused{% endif %}"><a href="{% url 'show-page' title=el_chapter.title.slug page=el_chapter.start_page_no %}">{{ el_chapter.heading }}</a></div>
	{% endfor %}

{% endblock navbar %}

{% block content %}
	<div class="page-navigator-wrap">

		<h2><a href="{% url 'show-chapters' title=title.slug %}">{{ title }}</a>, <a href="{% url 'show-page' title=title.slug page=page.number %}">p. {{ page.number }}</a></h2>

		<table class="page-navigator"><tr>
			<td class="navigate-going-left">{% if page_prev %}<a href="{% url 'show-page' title=page.title.slug page=page_first.number %}">
				&larr;first page
			</a>{% else %}first page{% endif %}
			<td class="navigate-going-left">{% if page_prev %}<a href="{% url 'show-page' title=page_prev.title.slug page=page_prev.number %}"> &larr;p. {{ page_prev.number }}</a>{% endif %}
			<td class="navigate-going-right">{% if page_next %}<a href="{% url 'show-page' title=page_next.title.slug page=page_next.number %}"> p. {{ page_next.number }}&rarr;</a>{% endif %}
			<td class="navigate-going-right">{% if page_next %}<a href="{% url 'show-page' title=page.title.slug page=page_last.number %}">
				last page&rarr;
			</a>{% else %}last page{% endif %}
		</tr></table>
	</div>
	
	<div class="extras-wrap">
		{% if focus_chapter %}
		<div class="whole-chapter-link-wrap">
			<a href="{% url 'show-chapter' title=focus_chapter.title.slug chapter=focus_chapter.slug %}">See entire Chapter "{{ focus_chapter.heading }}"</a>
		</div>
		{% endif %}

		<div class="page-scan-wrap">
			{% if page.display %}<a href="{{ page.display.url }}">Download Page Scan</a>{% endif %}
		</div>
	</div>
	
	
	<table class="wyclif-page-el">
	{% for paragraph in paragraphs %}
		{% if paragraph == focus_chapter_first_paragraph and paragraph.split != "bottom" %}
			<tr>
				<td class="wyclif-chapter-title">{{ paragraph.chapter.heading }}
				<td>
			</tr>
		{% endif %}
			<tr>
				<td class="wyclif-paragraph-text">
					{% if paragraph.split == "top" or paragraph.split == "no" %}
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					{% endif %}
					<span id="{{ paragraph.pk }}">{{ paragraph.text|safe }} </span>
					{% if paragraph.split == "top" or paragraph.split == "both" %}
						{% if page_next %}<a href="{% url 'show-page' title=page_next.title.slug page=page_next.number %}">...</a>{% endif %}
					{% endif %}
				<td class="google-translate-wrap"><a href="http://translate.google.com/#la|en|{{paragraph.text|urlencode}}" target="_blank">Translate</a>
			</tr>
	{% empty %}
		<tr>
			<td class="wyclif-paragraph-text">(No paragraph information)
		</tr>
	{% endfor %}
	</table>
	
	<div class="extras-wrap">
		{% if focus_chapter %}
		<div class="whole-chapter-link-wrap">
			<a href="{% url 'show-chapter' title=focus_chapter.title.slug chapter=focus_chapter.slug %}">See entire chapter "{{ focus_chapter.heading }}"</a>
		</div>
		{% endif %}

		<div class="page-scan-wrap">
			{% if page.display %}<a href="{{ page.display.url }}">Download Page Scan</a>{% endif %}
		</div>
	</div>
	
	<div class="page-navigator-wrap">
		<table class="page-navigator"><tr>
			<td class="navigate-going-left">{% if page_prev %}<a href="{% url 'show-page' title=page.title.slug page=page_first.number %}">
				&larr;first page
			</a>{% else %}first page{% endif %}
			<td class="navigate-going-left">{% if page_prev %}<a href="{% url 'show-page' title=page_prev.title.slug page=page_prev.number %}"> &larr;p. {{ page_prev.number }}</a>{% endif %}
			<td class="navigate-going-right">{% if page_next %}<a href="{% url 'show-page' title=page_next.title.slug page=page_next.number %}"> p. {{ page_next.number }}&rarr;</a>{% endif %}
			<td class="navigate-going-right">{% if page_next %}<a href="{% url 'show-page' title=page.title.slug page=page_last.number %}">
				last page&rarr;
			</a>{% else %}last page{% endif %}
		</tr></table>

	</div>
	
	
{% endblock content %}