###################
# Compiled source #
###################
*.pyc

#####################
# Weird apple files #
#####################
.DS_Store

##################
# Local settings #
##################
local_settings.py


# Databases
*.db
