{# Copyright Christopher Adams, 2011 #}
{# All rights reserved. #}

{% load url from future %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{% block title %}Wyclif Digital Archive{% endblock %}</title>

	<link rel="stylesheet" href='{{ STATIC_URL }}css/wyclif.css' />
	<link rel="stylesheet" href='{{ STATIC_URL }}chosen/chosen.css' />

	<link href='http://fonts.googleapis.com/css?family=UnifrakturMaguntia&v1' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=MedievalSharp&v1' rel='stylesheet' type='text/css'>
	
	
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}chosen/chosen.jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/wyclif.js"></script>
	
	{% block extra_head %}{% endblock %}
</head>

<body>

<div id="wrap-everything">
	<div id="header">
		<span class="left-side">
			<a href="{% url 'all-works' %}"><img id="wyclif-image" src="/static/img/wyclif200x150.png"></a>
		</span>
		<span class="right-side">
			<div class="title-wrap">
				<a href="{% url 'all-works' %}">
					<h1>The Latin Wor<span style="font-family:serif;">k</span>s of John Wyclif</h1>
					<h2>A searchable database of the primary texts</h2>
				</a>
			</div>
			<div class="search-links-wrap">
				<div id="section-links">	
					<a class="navbutton" href="{% url 'all-works' %}">Home</a> |
					<a class="navbutton" href="{% url 'wyclif.views.about' %}">About</a> |
					<a class="navbutton" href="{% url 'wyclif.views.contact' %}">Contact</a> |
				</div>
				<div id="small-search"> 
					<form action="{% url 'wyclif.views.search' %}" method="GET">
						<input name='q' id='q'>
						<input type="submit" value="Search" /><br>
					</form>
					<span>- or -</span> <a href="/search/">Advanced Search</a>
				</div>
			</div>
		</span>
	</div>
	<div id="navbar-wrap" class="transparent">
		<div id="navbar-content">
		{% block navbar %}
		{% endblock navbar %}
		</div>
	</div>
	<div id="content">
		<div id="content-pad-wrap">
			{% block content %}
			{% endblock content %}
		</div>
	</div>
	<div id="footer">
		<a href="{% url 'wyclif.views.copyright' %}">Copyright &copy; 2011</a>
	</div>
</div>

</body>

</html>