{# Copyright Christopher Adams, 2011 #}
{# All rights reserved. #}

{% load url from future %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{% block title %}Wyclif Digital Archive{% endblock %}</title>
	<style>
	* {
		margin:0;
		padding:0;
	}
	body {
		background-color:black;
	}
	#image {
		position:absolute;
		top:0;
		left:0;
	}
	#image img {
		text-align:center;
		display:none;
	}
	#link {
		position:absolute;
		top:40%;
		left:10%;
		width:20%;
		background-color:black;
		display:none;
	}
	#link a {
		font-family:Georgia, serif;
		color:white;
		text-decoration:none;
	}
	.transparent {
		zoom: 1;
		filter: alpha(opacity=50);
		opacity: 0.5;
	}
	</style>
	
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
	
	<script type="text/javascript">
		$(document).ready(function() {
			window.INIT_WYCLIF_HEIGHT = $("#image img").height();
			window.INIT_WYCLIF_WIDTH = $("#image img").width();
			window.$wyclif = $("#image img");
			resize_wyclif = function() {
				$wyclif.css('width', $(window).width()+"px");
				$wyclif.css('height',($(window).width()*INIT_WYCLIF_HEIGHT/INIT_WYCLIF_WIDTH)+'px');
			}
			resize_wyclif();				
			$wyclif.fadeIn(1000, function() {
				$("#link").fadeIn(1000);
			});

			$(window).resize(resize_wyclif);
		});
	</script>
	
</head>

<body>
	<div id="image">
		<a href="{% url 'all-titles' %}">
			<img src="{{STATIC_URL}}img/wyclif_big2.jpg">
		</a>
	<div>
	<div id="link" class="transparent">
		<a href="{% url 'all-titles' %}">
			<h2>The Latin Works of John Wyclif:</h2>
			<h3>A searchable database of the primary texts</h3>
		</a>
	</div>
</body>