{% extends "Wyclif/base.html" %}

{% block content %}

<h3>Copyright Information</h3>
	

Copyright and use statement

Web site design copyright © 2003-2008 Penn Szittya, Patrick Hornbeck, Brian Boston, Rikk Mulligan.

Permission is granted to access, view and link to this work for personal or non-profit educational purposes, provided that links are made directly to the project home page and correct attribution provided from the linking site. The text and images, graphics, and other associated files on this site may not be copied, downloaded, presented inline (or online) on any other site or otherwise redistributed or copied without express written permission.

<h3>COPYING OF IMAGES FOR PERSONAL USE ONLY</h3>

* You may view or download the image to your workstation and store it, and you may make one hard copy without payment or further permission, provided this is done for purposes of private study only.

* You may also display the single personal copy for purposes of an academic lecture or seminar, provided that no further duplication occurs or is allowed to occur.

* You may not duplicate the image in any medium for another person or institution.

* You may incorporate the URL for an image, but not the image itself, in your personal hypertext document. The purpose of this restriction is to preserve the integrity of the image by ensuring that image files are always downloaded direct from the Georgetown University server.


{% endblock %}

