<html>
<head>
	<title>Wyclif Project Input Tool</title>

	<style>
		* {
			margin:10px;
		}
		h1 {
			
		}
		input {
		}
		body {
			background-color:EEEEEE;
		}
		#main {
			margin:auto;
			width:800px;
			border:1px solid;
		}
	</style>
</head>
<body>
	<div id="main">
		<div style="text-align:center;">
			<img src="http://www9.georgetown.edu/faculty/szittyap/wyclif/imgs/jw.jpg">
			<h1>
				Wyclif Project Input Tool
			</h1>
		</div>
		<hr>
		<div>
			<i>The following is a very basic sample of what the input tool may turn out to look like. This section is currently under development.</i>
		</div>
		<hr>
		<div>
			Volume Name <input />
			Volume Number <input />
			Page Number <input />
		</div>
		<hr>
		<div>
			Latin Source Text:<br>
			<textarea style="margin-left:50px; font-family:'Courier'; width:500px; height:200px" ></textarea>
		</div>
		<hr>
		<div>
			Your scanned jpg file: <input type="file">
		</div>
		<input type="submit" />
	</div>
</body>
</html>