body {
	margin: 0;
	padding: 0;

	width: 100%;
	font-size:90%;
	background-color: #d2d3ab;

	min-width: 800px;
	
	background-image:url("/static/img/Balliol_front_quad580.jpg");
	background-repeat:no-repeat;	
	background-position:0 -30px;
}

a {
	text-decoration:none;
}

div#wrap {
width: 820px;
margin:0 auto;
padding:0;
position:relative;
}

.clickable {
	cursor:hand; cursor:pointer;
}

#header {
	width:820px;
	height:170px;
	background: url("/static/img/wyclif200x150.png") no-repeat -10px 10px;
}
#header .right-side {
	height: 169px;
	width: 619px;
	margin-bottom:0;
	padding:0;
	margin-top:0;
	float:right;
	border-right: 1px solid #fff;
}

#header h1 {
	font-family: 'UnifrakturMaguntia', arial, serif;
	color: #dddddd;
}

#header h2 {
	font-family: 'MedievalSharp', arial, serif;
	color: #dddddd;
}
#header h3 {
	font-family: 'MedievalSharp', arial, serif;
	color:white;
}

#header #top-sections {
	float:right;
}

#header #top-sections a {
	font-size:12pt;
}

#header a:link {
	color: #dddddd;
}

#header a:visited {
	color: #dddddd;
}

#header a:hover {
	color: #AA6666;
}

#header a:active {
	color: #AA6666;
}

#content {
	margin-top: 0;
	margin-right:0;
	width: 619px;
	float:right;
	background-color: #fcfcfc;
	padding-left:1px;
}
#header #small-search #q {
	background-color:#660000;
	color:#FFFFFF;
}
#header #small-search span {
	color:#888888;
}

#content #search-tool .search-field-wrapper {
	margin-bottom:20px;
}

#content #search-tool .search-instructions {
	margin-left:20px;
	background-color:#EEEEEE;
}

#content #search-tool .search-instructions .search-instruction {
	padding-right:10px;
	vertical-align:top;
}

#content #search-tool .search-field-wrapper .search-input-wrapper {
	margin-left:20px;
	
}
#content #search-tool .search-field-wrapper #id_q {
	width:200px;
}

#content #search-tool .search-field-wrapper .chzn-choices {
	width:300px;
	/*width:500px;*/
	/*vertical-align:top;*/
	/*text-align:right;*/
}

#content #search-results .manuscript-highlighted {
	background-color:#660000;
	color:white;
}


#content #pad {
	padding: 10px 30px;
}

#content .page-scan-wrap {
	text-align:right;
}

#content .wyclif-page-el {
	/*border:1px solid;*/
	padding-bottom:10px;
}
#content .wyclif-chapter-title {
	text-align:center;
	font-weight:bold;
	font-size:15pt;
	border-top:1px solid;
}
#content .wyclif-paragraph-text {
	font-family:Palatino, Georgia;
	font-size:12pt;
	/*border-top:1px solid;*/
	padding-bottom:10px;
	padding-top:10px;
}
#content .google-translate-wrap {
	vertical-align:top;
	padding-left:10px;
	padding-bottom:10px;
	padding-top:10px;
}
#content .page-navigator-wrap {
	font-size:15pt;
	text-align:center;
	padding-bottom:15px;
}
#content .page-navigator {
	width:100%;
	text-align:center;
	background-color:#DDDDDD;
	border:1px solid;
}
#content .page-navigator .navigate-going-left {
	width:100px;
	text-align:left;
}
#content .page-navigator .navigate-going-right {
	width:100px;
	text-align:right;
}


#content #search-results .search-result-description {
	font-weight:bold;
}
#content #search-results .matched-result {
	margin-top:10px;
}


#content ul {
	list-style-type:none;	
}
#content a:link {
	color: #770000;
}
#content a:visited {
	color: #770000;
}
#content a:hover {
	background-color: #aaaaaa;
	color: black;
}
#content a:active {
}

#content p {
	font-family:Palatino, Georgia;
	font-size:12pt;
}

#navbar-wrap {
	margin:0;
	padding:0;

	width: 200px;
	position: absolute;

	top: 184px; left:0;
	
	background-color:white;
}

#navbar-content {
	display:block;
	text-align:right;
	padding-right:10px;
	padding-bottom:30px;
}

#navbar-content ul {
	list-style-type:none;	
}

#navbar-content .nav-focused {
	font-weight:bold;	
	background-color: #aaaaaa;
	color: black;
}
#navbar-content .nav-unfocused {
	font-weight:normal;

}

#navbar-content a:link {
	color: #000000;
}

#navbar-content a:visited {
	color: #000000;
}

#navbar-content a:hover {
	background-color: #aaaaaa;
	color: black;
}

#navbar-content a:active {
	color: #AA6666;
}

#footer {
	background-color:white;
	clear:both;

	width: 618px;
	float:right;

	border: 1px solid #fcfcfc;
	padding-top: 20px; padding-bottom: 20px;
	margin-bottom: 1px;
	
	text-align:right;
}

#footer a:link {
	color: #770000;
}
#footer a:visited {
	color: #770000;
}
#footer a:hover {
	background-color: #aaaaaa;
	color: black;
}
#footer a:active {
}


.transparent {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}