body {
	margin: 0;
	padding: 0;

	width: 100%;
	font-size:90%;
	background-color: white;
	font-family:Palatino, Georgia;
}

.print-only {
	display:block;
}

a {
	text-decoration:none;
}

#wrap-everything {
	width: 820px;
	margin:0 auto;
	padding:0;
	position:relative;
}

.clickable {
	cursor:hand; cursor:pointer;
}

#header {
	width:820px;
	height:170px;
}
#header .left-side {
	position:absolute;
}
#header .left-side #wyclif-image {
	border:none;
	position:absolute;
	top:10px;
}

#header .right-side {
	position:absolute;
	left:210px;
	height: 169px;
	width: 609px;
	margin-bottom:0;
	padding:0;
	margin-top:0;
	float:right;
	border-right: 1px solid #fff;
}

#header .right-side .title-wrap {
	border-bottom: 1px solid white;
}

#header h1 {
	color: black;
}

#header h2 {
	color: black;
}
#header h3 {
	color: black;
}

#header .search-links-wrap {
	display:none;
}

#navbar-content {
	display:none;
}

#content #search-tool {
	display:none;
}

#content #search-results .manuscript-highlighted {
	background-color:black;
	color:white;
}
#content #search-results .back-to-top-div {
	display:none;
}

#content .wyclif-paragraph-text {
	font-family:Palatino, Georgia;
	font-size:12pt;
	/*border-top:1px solid;*/
	padding-bottom:10px;
	padding-top:10px;
}
#content .google-translate-wrap {
	display:none;
}
#content .page-navigator-wrap {
	display:none;
}
#content .extras-wrap {
	display:none;
}
