{# Copyright Christopher Adams, 2011 #}
{# All rights reserved. #}

{% extends "wyclif/base.html" %}

{% load url from future %}

{% block navbar %}
	The Latin Works of John Wyclif
{% endblock navbar %}

{% block content %}
	{{ copy_text|safe|linebreaks }}

	{% for dataobj in works_by_author %}
		<h2>{{dataobj.author}}</h2>
		<ul>
		{% for title in dataobj.works %}
			<li><a href="{% url 'show-chapters' title=title.slug %}">{{title.text}}</a> (v. {{title.volume}}, {{title.publication_year}})
		{% endfor %}
		</ul>
		
	{% endfor %}
{% endblock content %}