{# Copyright Christopher Adams, 2011 #}
{# All rights reserved. #}

{% extends "wyclif/base.html" %}

{% load url from future %}
{% load manuscript_extras %}

{% block extra_head %}
	<script type="text/javascript">
		$(document).ready(function(){
			$("#search-tool select").chosen();
		});
	</script>
{% endblock extra_head %}

{% block navbar %}
	<h3>Search Tool</h3>
{% endblock navbar %}

{% block content %}
	{{ copy_text|safe|linebreaks }}

	<div id="search-tool">
		<h2>Search Tool (experimental)</h2>
		<form action="{% url 'wyclif.views.search' %}" method="GET">
			{{ big_search_form.non_field_errors }}
			<div class="search-field-wrapper">
		        {{ big_search_form.q.errors }}
		        <p><label for="id_q">Enter your search query below:</label></p>
				<div class="search-input-wrapper">
		        	{{ big_search_form.q }}
				</div>
		    </div>
			<div class="search-field-wrapper">
		        {{ big_search_form.titles.errors }}
		        <p><label for="id_titles">Limit selection to certain works:</label></p>
				<div class="search-input-wrapper">
					<a href="javascript:void(0);" onclick="
						$('select option:not(:selected)').attr('selected',true);
						$('select').chosen().trigger('liszt:updated');
					">Select All</a> |
					<a href="javascript:void(0);" onclick="
						$('select option:selected').attr('selected',false);
						$('select').chosen().trigger('liszt:updated');
					">Select None</a>
			        {{ big_search_form.titles }}
				</div>
		    </div>
		    
			
			
		<div class="submit-button-wrap"><input type="submit" value="Search" /></div>
		</form>
	</div>

	<div id="search-results">
		<div class="matched-chapters">
			{% if chapters_matches %}
				<hr>
				Matched Chapters
				<ul>
				{% for chapter in chapter_matches %}
					<li><a href="{% url 'show-chapter' title=chapter.title.slug chapter=chapter.slug %}">{{ paragraph.text }}</a>
				{% endfor %}
				</ul>

			{% endif %}
		</div>

		<div class="matched-paragraphs">
			{% if paragraph_matches %}
				<hr>
				<h2>Matched Paragraphs</h2>
				<ul>
				{% for paragraph in paragraph_matches %}
					<li class="matched-result wyclif-paragraph-text">
						<span class="search-result-description"><i>{{ paragraph.title.text }}</i>, {{ paragraph.chapter.heading }}, p. {{ paragraph.page.number }}: </span>
						<a href="{% url 'show-page' title=paragraph.title.slug page=paragraph.page.number %}">{{ paragraph.text|highlight:query }}</a>
				{% endfor %}
				</ul>
			{% endif %}
		</div>

	</div>

{% endblock content %}