{% extends "wyclif/base.html" %}

{% load url from future %}

{% block navbar %}
	<h2><a href="{% url 'all-works' %}">{{title.author}}</a></h2>
	<h3><a href="{% url 'show-chapters' title=title.slug %}">{{title}}</a></h3>
	<ul>
	{% for chapter in title.chapter_set.all %}
		<li><a href="{% url 'show-pages' title=title.slug chapter=chapter.slug %}">{{chapter}}</a>
	{% endfor %}
	</ul>
{% endblock navbar %}

{% block content %}
	{{copy_text|linebreaks}}

	<h2>Author: <a href="{% url 'all-works' %}">{{title.author}}</a></h2>
	<h3>Title: <a href="{% url 'show-chapters' title=title.slug %}">{{title}}</a></h3>

{% endblock content %}